html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

#char1, #char2, #char3, #char4, #char5, #char6, #char7, #char8, #char9, #char10, #char11, #char12, #char13, #char14, #char15, #char16{
    width: 150px;
    height:150px;
    color: aquamarine;
    display: inline-block;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

/*.playera, .playerb{
    margin-left:25%;
}*/

